@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Medium.ttf');
}

body{
    background-color: white;
    font-family: 'Raleway', Sans-serif;
    margin: 0;
}

.main-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.menu{
    display: flex;
    font-size: 14px;
    list-style: none;
    align-items: baseline;
}

.menu a{
    color:rgba(144, 144, 144);
    text-decoration: none;
    padding-top: 25px;
    margin-left: 30px;
}
/* Apparence au survol des liens */
.menu a:hover {
    color: blue;
    border-top: 2px solid blue;
}
.menu a:focus{
    color:gray;
}
.menu .bleuGras{
    color:blue;
    font-weight: bold;
}
.NoirPlus{
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    
}
.Noir{
    color:black;
    font-size: 13px;
}


/*Les titres */
h1{
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}
h2{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 5px;
}
h3{
    font-size: 14px;
    font-weight: bold;
}
p{
    font-size: 12px;
    font-weight: normal;
    margin-top: 0;
}
.texteGras{
    font-weight: bold;
}


/*Section Filtre ..........................................................................................*/
.sectionFiltre{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    margin-left: 40px;
    margin-right: 30px;
    padding:0;
}
.filtreTitre{ 
    margin-bottom: 30px;
}

.filtreTitre p{
    font-size: 14px;
}

.fltreRecherche{
    display: inline-flex;
    align-items: center;
    height: 40px;
    margin-bottom: 30px;
}
.styleBouton{
    border: none;
    height: 41px;
    padding: 0 10px;
    font-size: 15px;
    text-align: center;
    color: white;
    border-radius: 0 10px 10px 0;
    background-color: blue;
    cursor: pointer;
}
/*En fonction de la taille de l'écran, soit on affichera le texte rechercher sur le bouton, soit l'icone Loupe*/
.RechercheTexte{
    display: flex;
}
.fas.fa-search{
    display: none;
}
.puceNavig{
    height: inherit;
    display: block; 
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 10px 0 0 10px ;
    background-color: rgb(242, 242, 242);
    padding-left: 15px;
    padding-right: 15px;
}
/*zone de saisie de la ville */
.inputVille{
    display: block;
    height: 40px;
    text-align: center;
    padding: 0;
    border-top: solid 1px rgb(242, 242, 242); 
    border-bottom: solid 1px rgb(242, 242, 242);
}
.inputVille input{
    border-color:rgb(242, 242, 242);
    border: none;
    height: 40px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top:0px;
    font-size: 14px;
    font-weight: bold;
}

.filtreDetails{
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
    height: 35px;
}
.titreFiltreDetails{
    margin-right: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
.detailFiltreDetails{
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 50px ;
    border: solid 2px lightgray;
    border-left : none;
    transition: background-color 0.5s;
}
.detailFiltreDetails:hover{
    background-color: rgb(165, 207, 241);
}

.puceDuLibelle{
    height: 36px;
    width: 35px;
    display: flex; 
    /*alignement horizontal*/
    justify-content: center;
    /*alignement vertical*/
    align-items: center;
    color: blue;
    background-color:  rgb(222, 235, 255);
    border-radius: 50px;
    cursor: pointer;
}
   
.libelle{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;
}
.filtreInfo{
    display: inline-flex;
    align-items: center;
}
.puceDeLInfo{
    height: 17px;
    width: 17px;
    display: flex; 
    /*alignement horizontal*/
    justify-content: center;
    /*alignement vertical*/
    align-items: center;
    color:white;
    background-color :blue;
    border-radius: 50px;
}
.textInfo{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-style: italic;
}


/* Partie section hebergement .............................................................................*/
.sectionHebergement{
    /*2 blocks seront cote  a cote*/
    display: flex;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 30px;
}

#bigboxH{
    /*la section hebergement est divisee de gauche à droite en 2 sous sections hebergement et les plus populaires respectivement 70% et 30%*/
    width: 70%;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
}

.box1{
    /* dans les 70% de gauche, on crée une sorte de grille de 3 colonnes qui prennent la totalite 100%  des 70 %*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: rgb(242, 242, 242);
    /*les angles de la boite sont légèrement arrondis*/
    border-radius: 20px;
}
.affichePlus{
    margin-top: 20px;
    margin-bottom: 20px;
}

.detail{
    /*dans box1 on intègre des blocks de details*/
    /*chaque bloc  va contenir une image, un titre (nom de l'hotel en h2), un petit texte avec le prix et une note sous forme d'étoiles*/
    border: 5px;
    background-color: white;
    /*les coins du container ne sont pas à angle droit mais un peu arrondis*/
    border-radius: 20px;
    /*une légère ombre portée, je ne suis pas sure que c'est dans l'original, j'ai un doute*/
    box-shadow: 2px 2px 1px lightgray;
    /*petite marge intérieure*/
    padding: 3px;
    /*on écarte chaque bloque de 10px les uns des autres*/
    margin: 10px;
    /* la souris change de forme quand on pointe sur une zone détail*/
    cursor: pointer;
}
.vignetteImage{
    /*les éléments contenus dans vignette image (les children: les images ici) ne déborderont pas du cadre quand on va faire la transition*/
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.image {
    display: block;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
    /*l'image couvre l'espace (zoom) demandé avec height et width : ne se déforme pas*/
    object-fit: cover;
}
/*pour test zoom dans l'image*/
.vignetteImage img {
    transition: transform 0.7s;
    
}
.vignetteImage:hover img {
    transform: scale(2.1);
}
/*et un petit effet qd on clic sur une vignette , pas terrible mais j'apprends*/
.vignetteImage:active {
    transform: scale(1.1);
    overflow: visible;
}
.vignetteImage:active img{
   border-radius: 0;
}

.texte{
    background-color: white;
    padding-left: 15px;
    border-radius:  0 0 20px 20px;
}
/*couleur des étoiles*/
.blue{
    color :  rgb(0, 101, 252);
}
.gray{
    color : rgb(185, 185, 185); 
}
.etoiles{
    font-size: 9px;
    margin-top: -0.2rem;
    /*les 5 etoiles "enfants" seront en ligne horizontales*/
    display: flex;
    margin-bottom: 5px;
    margin-left : 1px;
}

/*Les plus populaires dans la zone Hebergement toujours*/
.bigboxPopu{
    width: 30%;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.titrePopu{
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: 5px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.fafa35{
    /*icone a la m^me marge que le titre pour l alignement*/
    margin-top: 35px;
}

.box2{
    width: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
}

.detailPopu{
    border: 5px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    /*meme ombre que les hebergements*/
    box-shadow: 2px 2px 1px lightgray;
    padding: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px;
    /*les éléments contenus dans détail (les children: les images par ex) ne déborderont pas du cadre*/
    overflow: hidden; 
}
.imagePopu{
    width: 110px;
    height: 100%;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
    object-fit: cover; 
}

.textePopu{
    background-color: white;
    padding-left: 15px;
    border-radius:   0 20px 20px 0 ;
    justify-content: flex-start;
}
.textePopu h3{
    line-height: 14px; 
}


/*Section Activités ...................................................................................*/
.sectionActivites{
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 30px;
}
.deuxActivites{
    /*height: 440px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#listeActivite{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}
.detailActivite{
    border: 5px;
    background-color: white;
    /*les coins du container ne sont pas à angle droit mais un peu arrondis*/
    border-radius: 20px;
    /*ombre portée*/
    box-shadow: 3px 4px 2px rgb(242, 242, 242);
    /*marge e ntre les bloc à gauche et à droite*/
    margin-left: 10px;
    margin-right: 10px;
    /*les éléments contenus dans détail (les children: les images par ex) ne déborderont pas du cadre*/
    overflow: hidden;
    
}
.imageActivite {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    /*l'image couvre l'espace (zoom) demandé avec height et width : ne se déforme pas*/
    object-fit: cover; 
}
.imageActivite2 {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
    /*l'image couvre l'espace (zoom) demandé avec height et width : ne se déforme pas*/
    object-fit: cover; 
}
.imageActivite3 {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
    /*l'image couvre l'espace (zoom) demandé avec height et width : ne se déforme pas*/
    object-fit: cover; 
}

.texteActivite{
    background-color: white;
    padding-left: 15px;
    border-radius:  0 0 20px 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}


/* Section Footer avec différents liens de navigation vers les autres pages du site ...................*/
.boxFooter{
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-around;
}
.boxFooter a{
    text-decoration: none;
    font-size: 14px;
}
.boxFooter a:hover {
    color: blue;
}
.boxFooter ul {
    list-style-type: none;
}
.boxFooter li {
    margin-bottom: 5px;
}

/*css pour les tablettes ****************************************************************/
 /* *********************************************************************************************** */
 /* *********************************************************************************************** */
 /* *********************************************************************************************** */
 /* *********************************************************************************************** */
 @media only screen and (min-width : 768px) and (max-width : 1024px) {
    .sectionFiltre{
        margin-bottom: 0;
    } 
    /* Partie section hebergement .............................................................................*/
    .sectionHebergement{
        /*2 blocks seront l'un en dessous de l'autre*/
        display: flex;
        flex-direction: column-reverse;
        margin: 0; 
        width: auto;
        padding: 15px 0;
    }
    .bigboxPopu {
        flex-direction: column;
        width: auto;
        margin-bottom: 20px;
        background-color: transparent;
    }
    .fas.fa-chart-line{
        padding-right: 15px;
    }
    .box2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: auto;
        background-color: transparent;
    }
    #bigboxH{
        width: auto;
        margin-right: 0;
    }
 
 }
  
  /* Le CSS pour les smartphones *//* Le CSS pour les smartphones *//* Le CSS pour les smartphones *//* Le CSS pour les smartphones *//* Le CSS pour les smartphones */
  /* *********************************************************************************************** */
 /* *********************************************************************************************** */
 /* *********************************************************************************************** */
 /* *********************************************************************************************** */
 @media (max-width: 767px) {
    
      
    .menu{
        margin-top: 0px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        padding: 5px;
    }
    .menu a{
        font-size: 15px;
        padding-top: 0px;
    }
  
    .petitMenu{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 60px;
    }
    
    .petitMenu a{
        padding-bottom: 10px;
        border-bottom: 2px solid rgb(107, 99, 99);
        text-align: center;
        margin-left: 0;
    }
    /* Apparence au survol des liens */
    .petitMenu a:hover {
    color: blue;
    border-bottom: 2px solid blue;
    border-top: none;
    padding-bottom: inherit;
    }

    
        
    
    /*Section Filtre ..........................................................................................*/
    .sectionFiltre{
        display: block;
        width: auto;
        margin: 0;
        padding: 30px 10px;
    }
    .filtreTitre h1{
        font-size: 17px;       
    }
    .filtreTitre p {
        font-size: 13px;
    }
    .RechercheTexte{
        display: none;
    }
    .fas.fa-search{
        display: block;
    }
    .styleBouton{
        border-radius: 10px;
    }
    .inputVille input{
        font-size: 16px;
    }
    .filtreDetails{
        display: block;
        height: auto;
    }
    .titreFiltreDetails{
        margin-bottom: 10px;
    }
    .detailFiltreDetails{
        margin-bottom: 5px;
    }
    
    /* Partie section hebergement .............................................................................*/
    .sectionHebergement{
        /*2 blocks seront l'un en dessous de l'autre*/
        display: flex;
        flex-direction: column-reverse;
        margin: 0; 
        width: auto;
        padding: 15px 0;
        
    }
    .bigboxPopu {
        width: 100%;
        background-color: rgb(242, 242, 242);
        border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #bigboxH {
        width: 100%;
        background-color: transparent;
        border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0;
    }
    .box1 {
        display: block;
        padding: 0;
    }
    .fas.fa-chart-line{
        padding-right: 15px;
    }

    /* Partie section activite .............................................................................*/
    .sectionActivites{    
        display: block;
        margin: 0;
        width: auto;
    }
    #listeActivite{
        display: block;
    }
    .detailActivite{
        margin-bottom: 20px;
        width: auto;
        margin-left: 10px;
    }
    /*Contrairement à la vue Ecran, on donne la même hauteur aux images de la partie activités */ 
    .imageActivite {
        height: 110px;
    }
    .imageActivite2 {
        height: 110px;
    }
    .imageActivite3 {
        height: 110px;       
    }

    .boxFooter{
        display: block;
        margin: 0;
        width: auto;
    }
    .affichePlus{

        margin-left: 20px;
    }
  }


 





